.sideBar {
  /*display: inline-block;*/
  display: flex;
  position: fixed;
  height: 100%;
  width: 250px;
  color: yellow;
  text-transform: uppercase;
  justify-content: center;
  text-align: justify;
  overflow: hidden;
  padding: 2%; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  text-align: justify;
  top: -400px;
  animation: container 60s linear; }

@keyframes container {
  0% {
    top: 0px; }
  100% {
    top: -1000px; } }
