.sideBar {
  display: flex;
  position: fixed;
  height: 100%;
  width: 250px;
  color: yellow;
  text-transform: uppercase;
  justify-content: center;
  text-align: justify;
  overflow: hidden;
  padding: 2%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  text-align: justify;
  line-height: 120%;
  animation: container 30s linear;
}

@keyframes container {
  0% {
    top: 95%;
  }

  100% {
    top: 0;
  }
}

