.header {
  margin-left:250px;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: space-around;
}

h1 {
  color: #f6d347;
  font-family: 'Star Jedi Hollow';
  font-size: 3.4em;
}


.controls button {
  height: 40px;
  color: #a62c19;
  background: none;
  border: 2px solid #445d76;
  border-radius: 20%;
  width: auto;
  font-size: 1.4em;
}