* {
  box-sizing: border-box; }

html {
  background: url("../black-and-white-dark-shooting-stars-157824.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh; }
